body {
  font-family: Arial;
  margin: 0;
  background: #fafafa;
}

.container {
  padding: 20px;
  max-width: 600px;
  margin: auto;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  background: #f4ce14;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 12px;
}

.header,
.footer {
  text-align: center;
  padding: 10px;
}
